<h2><%= @order.title%></h2>

<p>
  <strong>Имя: </strong><%=@order.customer%>
</p>
<p>
  <strong>Адрес: </strong><%=@order.customer_address%>
</p>
<p>
  <strong>Детали заказа: </strong><%=@order.body%>
</p>